<h1>welcome to Bookers !!</h1>

<p>
  In Bookers,<br />
  you can share and exchange your options, inpressions, and emotions<br />
  about various books!
</p>

<% if user_signed_in? %>
  <%= link_to "Log in", user_path(@user) %>
  <% else %>
  <%= link_to "Log in", new_user_session_path %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Sign Up", user_path(@user) %>
  <% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>

